.sectionContainer {
  height: 100%;
  padding-top: 20px;
  overflow-y: auto;
}

.formChangePswrd {
  position: relative;
}

.changePswrdBlock {
  position: absolute;
  top: 170px;
  right: 150px;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #bfbfbf;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 2px #e6e6e6, -5px 0px 10px 2px #e6e6e6;
}

.titleBlock {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 30px;
}

.formData {
  display: flex;
}

.formDataBlock {
}

.personalData {
  padding-top: 35px;
}

.personalData > *:last-of-type {
  margin-right: 0;
}

.photoBlock {
  width: 100%;
}

.infoBlock {
  width: 380px;
  margin-bottom: 15px;
}

.infoWrap {
  margin-right: 40px;
}

.changePswrd {
  margin-bottom: 25px;
}

.buttonBlock {
}

.closeButtonBlock {
  text-align: right;
  margin-bottom: 30px;
}

.msgBlock {
  width: 380px;
  height: 40px;
  margin-bottom: 15px;
}

.changePswrdLink {
  color: #f44f37;
}

/* transition */
.enter {
  display: block;
  opacity: 0.01;
}

.enter.enterActive {
  opacity: 1;
  transition: opacity 300ms, top 300ms ease-in;
}

.exit {
  opacity: 1;
}

.exit.exitActive {
  opacity: 0.01;
  transition: opacity 300ms;
}
