.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.formWrap {
  position: relative;
  width: 365px;
  padding: 35px;
  border: 2px solid #bfbfbf;
  border-radius: 15px;
  box-shadow: 5px 10px 10px 2px #e6e6e6, -5px 0px 10px 2px #e6e6e6;
  background-color: #fff;
  overflow: hidden;
}

.title {
  display: inline-block;
  color: #757575;
  margin-bottom: 30px;
}

.msgBlock {
  height: 40px;
  margin-bottom: 15px;
}

.buttonBlock {
}

.closeButtonBlock {
  position: absolute;
  top: 5px;
  right: 5px;
}
