* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#root {
  height: 100%;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  white-space: pre;
  position: absolute;
  transform: translateX(-50%);
  background: #707070;
  bottom: calc(100% + 10px);
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  /* max-width: 200px; */
  opacity: 0;
  font-size: 13px;
  text-align: center;
  left: -9999px;
  transition: opacity 0.4s;
  transition-delay: 1s;
}

[data-tooltip]:hover:before {
  left: 50%;
  opacity: 1;
}
