.iconButton {
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

.iconButton:hover > .iconImg {
  transform: translateY(-50%);
}

.iconImg {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 200%;
  transform: translateY(0);
}
